
<div class="card">
    <div echarts [options]="generoViveChart"></div>
</div>

<div class="card">
    <div echarts [options]="viveconChart"></div>
</div>

<div class="card test">
    <div echarts [options]="ingresosChart"></div>
</div>

<div class="card">
    <div echarts [options]="laborChart"></div>
</div>

<div class="card test">
    <div echarts [options]="razonTrabajaChart"></div>
</div>

<div class="card">
    <div echarts [options]="bachillerChart"></div>
</div>

<div class="card test">
    <div echarts [options]="bachilleratosChart"></div>
</div>
