<p-carousel
  [value]="grupoAlumnos"
  [numVisible]="8"
  [numScroll]="8"
  [circular]="false"
  [showIndicators]="false"
  [responsiveOptions]="responsive"
>
  <ng-template let-alumno pTemplate="item">
    <div
      class="flex product-item"
      (click)="abrirMenu(alumno.matricula); setSelected(alumno.matricula)"
    >
      <div
        class="product-item-content"
        [ngClass]="{ selected: selectedIndex == alumno.matricula }"
      >
        <div class="p-mb-3"></div>
        <div>
          <img class="product-image sm:flex-shrink-1" [src]="alumno.foto" />
          <p class="matricula">{{ alumno.matricula }}</p>
          <p class="nombre">{{ alumno.nombreCompleto }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<p-sidebar
  (onHide)="setSelected(-1); cerrarMenu()"
  [(visible)]="displayMenu"
  [showCloseIcon]="false"
  position="bottom"
  [modal]="false"
  styleClass="p-sidebar-sm"
>
  <div class="push">
    <button type="button" class="close-button" (click)="cerrarMenu()">
      <mat-icon class="icon">close</mat-icon>
    </button>
  </div>
  <app-spinner *ngIf="loading" [mainPage]="false"></app-spinner>

  <p-tabView *ngIf="!loading">
    <p-tabPanel header="Datos Personales">
      <app-informacion-personal
        [catalogos]="catalogos"
        [alumno]="selectedAlumno"
      ></app-informacion-personal>
      <app-informacion-domicilio
        [catalogos]="catalogos"
        [alumno]="selectedAlumno"
      ></app-informacion-domicilio>
      <app-informacion-contacto
        [alumno]="selectedAlumno"
      ></app-informacion-contacto>
    </p-tabPanel>
    <p-tabPanel header="Datos Familiares">
      <app-informacion-familiares
        [alumno]="selectedAlumno"
      ></app-informacion-familiares>
    </p-tabPanel>
    <p-tabPanel header="Datos Laborales">
      <app-informacion-laboral
        [alumno]="selectedAlumno"
      ></app-informacion-laboral>
    </p-tabPanel>
    <p-tabPanel header="Datos Económicos">
      <app-informacion-economica
        [catalogos]="catalogos"
        [alumno]="selectedAlumno"
      ></app-informacion-economica>
    </p-tabPanel>
    <p-tabPanel header="Datos Escolares">
      <app-informacion-escolar
        [catalogos]="catalogos"
        [alumno]="selectedAlumno"
      ></app-informacion-escolar>
    </p-tabPanel>
  </p-tabView>
</p-sidebar>
