.tarjetas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.tarjeta {
    background: #FFFFFF;
    border: 1px solid #c7af7c;
    border-radius: 10px;
    width: calc(20% - 8px);
    height: 100px;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 25%;
    border-radius: 8px 0 0 8px;
    background-color: #c7af7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    transform: scale(1.75);
    color: white;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: fit-content;
}

.titulo {
    font-size: 20px;
    color: rgb(0, 0, 0, 0.65);
}

.subtitulo {
    font-size: 16px;
    color: rgb(0, 0, 0, 0.30);
}

@media only screen and (max-width: 1920px) {
    .titulo {
        font-size: 17px;
    }
    .subtitulo {
        font-size: 15px;
    }
    .icon {
        transform: scale(1.25);
    }
    .tarjeta {
        height: 80px;
    }
}

@media only screen and (max-width: 1150px) {
    .titulo {
        font-size: 16px;
    }
    .subtitulo {
        font-size: 12px;
    }
    .icon {
        transform: scale(1.25);
    }
    .tarjeta {
        height: 80px;
    }
}

@media only screen and (max-width: 900px) {
    .titulo {
        font-size: 12px;
    }
    .subtitulo {
        font-size: 8px;
    }
    .icon {
        transform: scale(1);
    }
    .tarjeta {
        height: 60px;
    }
}

@media only screen and (max-width: 716px) {
    .tarjeta {
        height: 30px;
        width: calc(50% - 8px);
    }
    .sidebar {
        width: 15%;
    }
    .icon {
        transform: scale(0.75);
    }
}

@media only screen and (max-width: 653px) {
    .tarjeta {
        height: 30px;
        width: calc(100% - 8px);
    }
    .sidebar {
        width: 10%;
    }
}

@media only screen and (max-width: 330px) {
    .titulo {
        font-size: 10px;
    }
    .subtitulo {
        font-size: 6px;
    }
    .icon {
        transform: scale(0.75);
    }
}