.tarjetas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.tarjeta {
    background: #FFFFFF;
    border: 1px solid #c7af7c;
    border-radius: 10px;
    width: calc(20% - 8px);
    height: 100px;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 25%;
    border-radius: 8px 0 0 8px;
    background-color: #c7af7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    transform: scale(1.75);
    color: white;
    cursor: pointer;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: fit-content;
}

.titulo {
    font-size: 20px;
    color: rgb(0, 0, 0, 0.65);
}

.subtitulo {
    font-size: 16px;
    color: rgb(0, 0, 0, 0.30);
}

:host ::ng-deep .p-sidebar-bottom.p-sidebar-sm {
    height: 50vh;
}

:host ::ng-deep .p-sidebar {
    background: #ffffff;
    color: #495057;
    border: 0 none;
    box-shadow: 0 1px 10px rgb(0 0 0 / 30%);
}
