<p-panel header="Información Económica" [toggleable]="true">
    <div class="mt-1 p-fluid grid ">

        <!-- <div class="field col-12 md:col-4">
            <span class="p-float-label">
    <p-dropdown inputId="viveCon" [autoDisplayFirst]="false"
    [options]="catalogos.viveCon" [(ngModel)]="viveCon" optionLabel="descripcion"></p-dropdown>
    <label for="viveCon">Vive con</label>
  </span>
        </div> -->

        <!-- <div class="field col-12 md:col-4">
            <span class="p-float-label">
  <p-dropdown inputId="vivienda" [autoDisplayFirst]="false"
  [options]="catalogos.viviendas" [(ngModel)]="vivienda" optionLabel="descripcion"></p-dropdown>
  <label for="vivienda">Tipo de Vivienda</label>
</span>
        </div> -->

        <!-- <div class="field col-12 md:col-4">
            <span class="p-float-label">
<p-dropdown inputId="transporte" [autoDisplayFirst]="false"
[options]="catalogos.transportes" [(ngModel)]="transporte" optionLabel="descripcion"></p-dropdown>
<label for="transporte">Transporte</label>
</span>
        </div> -->

        <!-- <div class="field col-12 md:col-6">
            <span class="p-float-label">
<p-dropdown inputId="apoyoEconomico" [autoDisplayFirst]="false"
[options]="catalogos.apoyosEconomicos" [(ngModel)]="apoyoEconomico" optionLabel="descripcion"></p-dropdown>
<label for="apoyoEconomico">Apoyo Economico</label>
</span>
        </div>

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
<p-dropdown inputId="ingresosFamiliares" [autoDisplayFirst]="false"
[options]="catalogos.ingresosFamiliares" [(ngModel)]="ingresosFamiliares" optionLabel="descripcion"></p-dropdown>
<label for="ingresosFamiliares">Ingresos Familiares</label>
</span>
        </div> -->

    </div>
</p-panel>