<p-panel header="Información Personal" [toggleable]="true">
    <div class="mt-1 p-fluid grid ">

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
      <p-inputMask inputId="inputmask" mask="99/99/9999" [(ngModel)]="fechaDeNacimiento"></p-inputMask>
      <label for="inputmask">Fecha De Nacimiento</label>
    </span>
        </div>

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
      <p-dropdown inputId="entidadesFederativas" [autoDisplayFirst]="false"
      [options]="catalogos.entidadesFederativas" [(ngModel)]="entidadFederativa" optionLabel="descripcion"></p-dropdown>
      <label for="entidadesFederativas">Entidad Federativa</label>
    </span>
        </div>

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
      <p-dropdown inputId="genero" [autoDisplayFirst]="false"
      [options]="catalogos.generos" [(ngModel)]="genero" optionLabel="descripcion"></p-dropdown>
      <label for="genero">Género</label>
    </span>
        </div>

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
      <p-dropdown inputId="estadoCivil" [autoDisplayFirst]="false"
      [options]="catalogos.estadosCiviles" [(ngModel)]="estadoCivil" optionLabel="descripcion"></p-dropdown>
      <label for="estadoCivil">Estado Civil</label>
    </span>
        </div>
    </div>
</p-panel>